# OS/editor
.DS_Store
.idea/
.vscode/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node
node_modules/
dist/
build/
coverage/
*.tsbuildinfo

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.eggs/
*.egg-info/
*.egg
*.whl
pip-wheel-metadata/
venv/
.venv/
ENV/
env/
dist/
build/

# Env files
.env
.env.*
